[Unit]
Description=X session
BindsTo=graphical-session.target
Wants=picom.service
Wants=unclutter.service
Wants=lxpolkit.service
Wants=polybar.service

