[core]
	editor = nvim
	excludesfile = /Users/geoffreyt/.gitignore_global
[user]
	name = Geoff Tearle
	email = 18473961+GeoffTearle@users.noreply.github.com
[init]
	defaultBranch = main
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/dotfiles/delta/.gitconfig
[include]
	path = ~/.gitconfig.local
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
