# import shared bindings
source ~/.vimrc

set NERDTree
set easymotion
set commentary
set ideajoin

set highlightedyank

# suppress annoying sounds
set visualbell
set noerrorbells

# set relativenumber
set number

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gs :action GotoSuperMethod<CR>

nnoremap <Leader>e :action GotoNextError<CR>
nnoremap <Leader>E :action GotoPreviousError<CR>

nnoremap <Leader>r :action RenameElement<CR>

# surround selection in normal and visual
nnoremap <Leader>s :action SurroundWith<CR>
vnoremap <Leader>s :action SurroundWith<CR>

# intro variable in normal and visual
nnoremap <Leader>v :action IntroduceVariable<CR>
vnoremap <Leader>v :action IntroduceVariable<CR>

# Extract method in normal and visual
nnoremap <Leader>m :action ExtractMethod<CR>
vnoremap <Leader>m :action ExtractMethod<CR>

nnoremap <Leader>t :action GotoClass<CR>
nnoremap <Leader>f :action GotoFile<CR>

nnoremap <Leader>g :action Generate<CR>
nnoremap <Leader>l :action InsertLiveTemplates<CR>

nnoremap <Leader>n :NERDTree<CR>

nnoremap <Leader>b :action BuildSolutionAction<CR>

nnoremap <Leader>i :action ImplementMethods<CR>
