#!/bin/sh

# Load colors
xrdb -merge $HOME/.Xresources

# Help GTK+ and Qt with their theme
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
#export QT_QPA_PLATFORMTHEME=qt5ct

# Prevent ranger from loading its config twice
export RANGER_LOAD_DEFAULT_RC=false

# Wal
wal -i $HOME/Pictures/bonfire-background.jpg
#wal -R

# Make the \+| key act as a right-hand friendly Ctrl modifier when held, but \+| when tapped
xmodmap -e 'keycode 51 = Hyper_L'
xmodmap -e 'remove mod4 = Hyper_L'
xmodmap -e 'add Control = Hyper_L'
xmodmap -e 'keycode any = backslash bar'
xcape -e 'Hyper_L=backslash|bar' -t 175

# Makes the /+? key act as a right-hand friendly Super modifier when held, but /+? when tapped 
xmodmap -e 'keycode 61 = Super_R'
xmodmap -e 'keycode any = slash question'
xcape -e 'Super_R=slash|question' -t 175
